---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
<meta property="og:image" content="https://AlexiaJM.github.io/assets/images/thumbnail.jpg" />
    <meta property="og:image:width" content="765" />
<meta property="og:image:height" content="451" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://AlexiaJM.github.io/assets/images/thumbnail.jpg" />
<meta name="twitter:site" content="@jm_alexia" />
<meta name="twitter:title" content="Game Generation and Evaluation" />
<meta name="twitter:description" content="Multi-Agent Game 🎮 Generation and Evaluation via Audio-Visual Recordings 📹" />
  </head>
   {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script src="{{ site.baseurl }}/assets/js/ruffle.js"></script>
    {% include footer.html %}
  </body>
</html>

